@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

@font-face {
  font-family: "CeraBold";
  src: url("/fonts/Cera-Pro-Bold.woff2");
}
@font-face {
  font-family: "CeraReg";
  src: url("/fonts/Cera-Pro-Regular.woff2");
}

a.classic {
  @apply text-blue-600 hover:text-blue-900;
}

*::-webkit-scrollbar {
  display: none;
}

/* GDS */
/* GDS */
/* GDS */
/* Gimbalabs Design System */
/* Gimbalabs Design System */
/* Gimbalabs Design System */
/* GDS */
/* GDS */
/* GDS */

/* Spacing */
/* Spacing */
/* Spacing */
.spacing-x {
  @apply px-5 sm:px-7 md:px-8 lg:px-9;
}
.spacing-y {
  @apply py-7 lg:py-9;
}
.margin-x {
  @apply mx-5 sm:mx-7 md:mx-8 lg:mx-9;
}
.margin-y {
  @apply my-7 lg:my-9;
}

.spacing-t {
  @apply pt-5 md:pt-7 lg:pt-9;
}
.spacing-b {
  @apply pb-5 md:pb-7 lg:pb-9;
}
.spacing-r {
  @apply pr-5 sm:pr-7 md:pr-8 lg:pr-9;
}
.spacing-l {
  @apply pl-5 sm:pl-7 md:pl-8 lg:pl-9;
}
.margin-l {
  @apply ml-5 sm:ml-7 md:ml-8 lg:ml-9;
}
.margin-r {
  @apply mr-5 sm:mr-7 md:mr-8 lg:mr-9;
}

/* Gradients */
/* Gradients */
/* Gradients */

.gradient-pbl {
  background: linear-gradient(
    118.69deg,
    #f7fbfc 5.67%,
    #f0d4ca 53.47%,
    #f1928e 104.01%
  );
}

.gradient-yellow {
  background: linear-gradient(
    153.27deg,
    #fde4b2 3.65%,
    #fddc9d 41.84%,
    #fcd68b 84.98%
  );
}

.gradient-green {
  background: linear-gradient(316.4deg, #95ae8c 13.52%, #bbccb5 117.27%);
}

.gradient-purple {
  background: linear-gradient(
    153.27deg,
    #ada1c2 -13.16%,
    #9f93b4 39.68%,
    #9a8bb3 84.98%
  );
}

.gradient-video {
  background: linear-gradient(
    153.27deg,
    #fddc9d 41.84%,
    #d3c8e5 84.98%
  );
}

/* General Helpers */
.flex-center {
  @apply flex items-center justify-center;
}

/* Gimbal Grid */
/* Gimbal Grid */
/* Gimbal Grid */
.gimbal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  grid-template-rows: repeat(1fr);
  grid-auto-flow: dense;

  @media (min-width: 768px) {
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: repeat(1fr); */
    /* gridTemplateColumns: "1fr", */
    /* gridTemplateRows: "minmax(100px, 300px)", */
  }
}
.gg-title {
  line-height: 101.5%;
  letter-spacing: -0.01em;
  @apply text-4xl sm:text-6xl md:text-7xl lg:text-8xl font-bold;
}
.gg-title-small {
  line-height: 101.5%;
  letter-spacing: -0.01em;
  @apply text-3xl sm:text-4xl lg:text-6xl font-bold;
}

.gg-subtitle {
  line-height: 143%;
  letter-spacing: 0.015em;
  @apply text-base lg:text-xl;
}
.gg-copy {
  @apply text-base;
}

body {
  scroll-behavior: smooth;
  @apply bg-offWhite;
}

.gds-btn {
  @apply py-3 px-5 text-base lg:text-xl shadow-md;
}
.btn-yellow {
  @apply text-yellow-900 bg-yellow-400;
}

.btn-green {
  @apply text-green-100 bg-green-500;
}

/* DANDILION */
/* DANDILION */
/* DANDILION */
.gds-title {
  @apply text-6xl md:text-7xl lg:text-8xl font-heading font-bold;
}

body {
  line-height: 200%;
  letter-spacing: 0.018em;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 121.5%;
  letter-spacing: -0.01em;
  @apply font-bold font-heading;
}

.title-line-height {
  line-height: 121.5%;
  letter-spacing: -0.01em;
}

/* CLIP PATHS */
/* CLIP PATHS */
/* CLIP PATHS */
@media (min-width: 1280px) {
  .clip-me-right {
    clip-path: polygon(0 0%, 100% 10%, 100% 90%, 0% 100%);
  }
  .clip-me-left {
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
  }
}

.bee-cursor {
  cursor: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.34864 9.4354C4.34864 9.4354 4.86375 9.72157 4.54896 9.80742C1.94478 10.2939 2.05925 11.1811 2.4599 8.80582C2.51713 8.46241 2.4599 8.43379 2.54575 8.49103C2.60298 8.54826 2.71745 8.60549 2.8033 8.66273C2.8033 8.66273 2.60298 9.52125 2.68883 9.75019C2.68883 9.77881 4.17694 9.46401 4.34864 9.4354Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.7681 11.2674C16.7967 11.2674 16.8539 11.2674 16.8825 11.2674C17.598 11.2388 19.8874 11.7539 20.3166 12.269C20.4597 12.4121 20.288 12.2118 21.4613 11.9256C22.0337 11.7825 24.3803 11.3246 24.6664 11.0098C24.9812 10.6664 21.3468 11.668 20.8031 11.6967L17.7697 10.8954C16.8539 10.7237 16.6822 10.3516 16.3388 10.4089C15.9954 10.2086 15.5948 10.0941 15.5948 10.2086C15.28 12.0401 14.8221 11.4105 14.6218 11.7825C14.6218 11.7825 14.4787 13.0989 13.4198 13.7571L12.6758 13.986C12.6758 13.986 12.9906 14.3581 13.4198 14.587C13.4771 14.9304 13.8491 15.0163 14.2497 15.932L15.7665 18.9082C15.8523 19.5092 15.9668 23.6015 16.1671 23.1722C16.3674 22.8002 16.1385 20.196 16.1099 19.5378C16.0526 18.25 16.2816 18.3645 16.1099 18.2787C15.5375 17.9352 14.5073 15.6459 14.3356 14.9018C14.307 14.816 14.2784 14.7301 14.2497 14.6442C14.5645 14.5584 14.9366 14.2436 15.2227 13.5854C15.7092 12.5838 16.4533 11.8397 16.7681 11.2674Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.20814 10.952C5.29239 11.2382 3.91876 9.32084 4.17631 8.23338C4.29078 7.80412 4.17631 7.43209 3.97599 7.6038C2.68821 8.66264 1.88692 6.54496 4.23355 7.26039H4.43387L4.26216 7.1173C1.94416 6.25878 4.03322 5.11409 4.29078 6.71666C4.37663 7.20316 5.60718 5.34303 7.06666 5.25718C7.75348 5.22856 8.55477 5.28579 8.32583 6.25878C8.15412 6.97422 6.95219 10.6945 6.20814 10.952ZM5.49271 6.71666C5.77888 6.25878 7.55316 5.48612 7.63901 5.88676C8.15412 8.262 5.09207 7.37486 5.49271 6.71666ZM5.92197 10.4369C6.58017 9.69286 6.75187 8.31923 5.03483 8.37647C3.8329 8.4337 5.60718 10.7803 5.92197 10.4369Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4141 11.2663C11.0723 11.3521 11.5874 11.6955 12.5604 11.066C13.9054 10.2074 12.4459 8.29007 12.3028 8.60486C12.0166 9.11997 11.7591 8.89104 11.3012 10.1216C11.0436 10.6081 11.0436 10.6939 10.643 11.066L10.4141 11.2663Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6763 11.667C11.9625 11.4094 13.1072 11.7528 13.422 10.2647C13.5078 9.74959 13.422 9.80683 14.2805 9.77821C14.5953 9.74959 14.2233 10.4364 14.1374 11.066C14.0802 11.667 12.4776 11.7814 12.6207 13.6415C12.6493 14.1567 11.6763 12.9261 11.476 12.0962C11.4188 11.8673 11.5332 11.7528 11.6763 11.667Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.8247 15.4161C15.0822 15.13 15.4829 15.5878 16.6276 13.3271C16.7993 12.9551 17.343 12.4972 17.5147 11.8962C17.6006 11.6387 17.5719 11.5528 18.0298 12.0679C18.688 12.8692 18.688 12.8692 18.0012 14.0711C17.5147 14.9583 17.5719 14.4718 17.1427 15.3875C16.3414 16.9901 14.653 15.5592 14.8247 15.4161Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.7383 16.7333C16.7383 16.5043 17.2248 17.0767 17.8257 16.1609C18.4839 15.1879 18.1691 15.1593 18.9991 14.2722C19.4283 13.8143 19.0849 13.0989 19.5142 13.7571C20.5158 15.331 19.2852 16.2182 18.255 17.1625C17.5396 17.8207 16.7383 16.7333 16.7383 16.7333Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5432 17.7626C18.6004 17.6195 19.9454 16.8182 20.1457 15.9883L20.2602 16.9327L19.3158 18.0487C19.1728 18.0773 18.4287 18.0487 18.5432 17.7626Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4028 18.3352C20.6333 16.8185 20.5188 16.6182 20.6333 17.2192C20.8336 18.3352 19.3741 18.7359 19.4028 18.3352Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.78346 11.0373C8.8407 10.9229 7.75324 10.0643 7.72462 11.1804L7.89632 11.5238C7.86771 12.1248 7.89632 12.7544 7.95356 13.4412L7.83909 13.4698C5.89311 14.2425 6.29375 13.6129 6.55131 14.2711C6.57993 14.3569 6.06481 18.4206 6.3796 18.7354C6.63716 18.9643 6.29375 15.0151 7.15227 14.3856C7.29536 14.2711 7.63877 14.0994 8.01079 13.9277C8.41144 17.5049 9.61336 21.311 9.35581 19.9946C9.21272 19.2505 8.61176 16.1026 8.3542 13.7846C8.46867 13.7274 8.58314 13.6701 8.69761 13.6129C8.8407 14.6431 9.06963 15.7592 9.15549 16.3602C9.55613 19.1647 9.4989 21.7402 11.5307 23.6576C14.3352 26.2904 16.6246 16.818 12.1031 14.0708C10.987 13.4126 10.7867 14.1852 9.81369 12.9547C10.1285 12.6971 10.2429 12.4396 10.014 12.182C9.92816 12.0962 9.75645 12.2393 9.47028 12.4396C9.12687 11.7814 9.4989 11.5524 9.32719 11.4094C9.24134 11.2949 8.92655 11.2949 8.72623 11.4666C8.52591 11.6669 8.52591 12.2965 8.61176 13.0692C8.49729 13.1264 8.41144 13.1836 8.29697 13.2695C8.1825 12.2393 8.15388 11.438 8.29697 11.209C8.49729 10.9229 8.72623 11.1232 8.78346 11.0373ZM12.6468 23.1425C13.9918 22.8563 14.1063 18.02 13.1619 16.9325L13.2478 16.9039C14.2208 17.7624 14.4783 22.7991 12.6468 23.1425Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.46875 10.1795C7.52598 10.3798 8.09833 10.2939 8.44174 10.4084C8.98547 10.6087 9.38611 10.9808 9.64367 11.1811C9.81537 11.2669 9.90122 11.2955 9.98708 11.2097C10.445 10.9521 10.6453 10.6946 10.817 10.437C10.9601 10.1795 11.0745 10.1795 11.3035 9.60712C11.5038 9.06339 11.9617 8.66275 12.0761 8.31934C12.2478 7.80423 10.2446 6.97433 9.18579 7.14603C8.95685 7.17465 8.49897 7.31774 8.44174 7.48944C8.15557 8.29072 7.46875 10.1795 7.46875 10.1795Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.18068 6.94543C5.69419 6.43032 7.23953 5.97244 7.23953 6.14415C7.23953 6.65926 7.23953 7.17437 6.58133 7.08852C6.46686 7.08852 6.32377 7.08852 6.18068 6.94543Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.34934 8.77724C4.63391 8.94895 5.63552 10.1509 5.74999 10.0078C6.03616 9.54991 6.37957 9.14927 5.74999 8.8631C5.66414 8.83448 5.54967 8.74863 5.34934 8.77724Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.86386 5.65804C5.86386 5.68665 6.46483 5.80112 6.29312 5.54357C4.86226 3.48312 5.60631 2.91077 4.06097 4.85675C3.83203 5.14292 3.7748 5.11431 3.88927 5.11431C3.97512 5.14292 4.08959 5.17154 4.20406 5.20016C4.20406 5.20016 4.71917 4.42749 4.94811 4.34164C4.97672 4.34164 5.77801 5.54357 5.86386 5.65804Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.15656 7.00289C7.98325 7.11736 8.899 4.31286 8.84177 3.56881C8.78453 2.5672 5.06428 0.563985 5.4363 0.506751C5.89418 0.449516 9.21379 3.16816 9.29964 3.19678C10.0151 3.36849 9.70029 2.71029 9.24241 4.62765C9.01347 5.62926 9.44273 6.97427 9.15656 7.00289Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.69713 10.5226C6.75275 9.89298 5.98009 12.7547 5.52221 13.3271C4.89263 14.1856 0.628643 14.157 0.886199 14.3573C1.25822 14.6435 5.60806 13.8708 5.69391 13.8994C6.40935 14.0711 5.75115 14.5004 6.46658 12.6116C6.80999 11.6673 7.92607 10.6943 7.69713 10.5226Z' fill='%23FDE0A5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.158 6.83141C10.0722 6.91727 8.87024 6.20183 10.0149 5.82981L10.4156 5.91566C11.0452 5.71534 11.7034 5.57225 12.4188 5.42917V5.3147C12.6763 3.36872 12.1326 3.91245 12.8767 3.94106C12.9625 3.94106 17.0548 2.33849 17.4554 2.53881C17.7988 2.71052 13.5921 3.48319 13.1628 4.42756C13.077 4.62788 13.0198 4.94267 12.9625 5.3147C16.7686 4.6565 21.0612 4.6565 19.6304 4.79958C18.8005 4.88544 15.395 5.25746 12.8767 5.68672C12.8767 5.80119 12.848 5.91566 12.8194 6.03013C13.9069 5.85843 15.1374 5.74396 15.7956 5.6581C18.8005 5.22884 21.4905 4.42756 24.0374 5.71534C27.5574 7.43238 18.3998 12.1256 14.2503 8.92048C13.2487 8.1192 13.9927 7.71855 12.4474 7.20344C12.2757 7.54685 12.0181 7.74717 11.7034 7.60408C11.5889 7.57547 11.6747 7.34653 11.8178 7.06035C11.0452 6.94588 10.9307 7.31791 10.7017 7.23206C10.5587 7.17482 10.4728 6.88865 10.6159 6.65971C10.7304 6.43077 11.3886 6.25907 12.2185 6.11598C12.2471 6.00151 12.3043 5.88704 12.3329 5.77257C11.2455 5.97289 10.387 6.17322 10.2153 6.37354C9.9577 6.60248 10.2439 6.74556 10.158 6.83141ZM23.8371 6.83141C23.8943 8.1192 18.9149 9.57868 17.5413 9.06357L17.5127 9.1208C18.6574 9.75038 23.9802 8.54846 23.8371 6.83141Z' fill='%23FDE0A5'/%3E%3C/svg%3E%0A")
      12 12,
    pointer;
}
.bee-cursor-dark {
  cursor: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.16895 9.44712C4.16895 9.44712 4.68407 9.73329 4.36927 9.81914C1.7651 10.3056 1.87957 11.1928 2.28021 8.81753C2.33744 8.47413 2.28021 8.44551 2.36606 8.50274C2.4233 8.55998 2.53776 8.61721 2.62362 8.67445C2.62362 8.67445 2.4233 9.53297 2.50915 9.76191C2.50915 9.79052 3.99725 9.47573 4.16895 9.44712Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5884 11.2791C16.617 11.2791 16.6742 11.2791 16.7028 11.2791C17.4183 11.2505 19.7077 11.7656 20.1369 12.2807C20.28 12.4238 20.1083 12.2235 21.2816 11.9373C21.854 11.7942 24.2006 11.3364 24.4868 11.0216C24.8016 10.6782 21.1671 11.6798 20.6234 11.7084L17.59 10.9071C16.6742 10.7354 16.5025 10.3634 16.1591 10.4206C15.8157 10.2203 15.4151 10.1058 15.4151 10.2203C15.1003 12.0518 14.6424 11.4222 14.4421 11.7942C14.4421 11.7942 14.299 13.1106 13.2401 13.7688L12.4961 13.9978C12.4961 13.9978 12.8109 14.3698 13.2401 14.5987C13.2974 14.9421 13.6694 15.028 14.07 15.9437L15.5868 18.92C15.6726 19.5209 15.7871 23.6132 15.9874 23.1839C16.1877 22.8119 15.9588 20.2077 15.9302 19.5495C15.8729 18.2618 16.1019 18.3762 15.9302 18.2904C15.3578 17.947 14.3276 15.6576 14.1559 14.9135C14.1273 14.8277 14.0987 14.7418 14.07 14.656C14.3848 14.5701 14.7569 14.2553 15.043 13.5971C15.5295 12.5955 16.2736 11.8515 16.5884 11.2791Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.02846 10.9637C5.1127 11.2499 3.73907 9.33256 3.99662 8.2451C4.11109 7.81584 3.99662 7.44381 3.7963 7.61552C2.50852 8.67436 1.70724 6.55668 4.05386 7.27211H4.25418L4.08248 7.12902C1.76447 6.2705 3.85354 5.12581 4.11109 6.72838C4.19695 7.21487 5.42749 5.35475 6.88698 5.26889C7.57379 5.24028 8.37508 5.29751 8.14614 6.2705C7.97444 6.98594 6.77251 10.7062 6.02846 10.9637ZM5.31302 6.72838C5.5992 6.2705 7.37347 5.49783 7.45932 5.89848C7.97444 8.27372 4.91238 7.38658 5.31302 6.72838ZM5.74228 10.4486C6.40048 9.70458 6.57219 8.33095 4.85514 8.38819C3.65322 8.44542 5.42749 10.792 5.74228 10.4486Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.2344 11.278C10.8926 11.3638 11.4077 11.7073 12.3807 11.0777C13.7257 10.2192 12.2662 8.30179 12.1231 8.61658C11.8369 9.13169 11.5794 8.90275 11.1215 10.1333C10.864 10.6198 10.864 10.7056 10.4633 11.0777L10.2344 11.278Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4966 11.6787C11.7828 11.4211 12.9275 11.7645 13.2423 10.2764C13.3281 9.76131 13.2423 9.81854 14.1008 9.78993C14.4156 9.76131 14.0436 10.4481 13.9577 11.0777C13.9005 11.6787 12.2979 11.7931 12.441 13.6533C12.4696 14.1684 11.4966 12.9378 11.2963 12.1079C11.2391 11.879 11.3535 11.7645 11.4966 11.6787Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.645 15.4279C14.9025 15.1417 15.3032 15.5996 16.4479 13.3388C16.6196 12.9668 17.1633 12.5089 17.335 11.9079C17.4209 11.6504 17.3922 11.5645 17.8501 12.0796C18.5083 12.8809 18.5083 12.8809 17.8215 14.0828C17.335 14.97 17.3922 14.4835 16.963 15.3992C16.1617 17.0018 14.4733 15.5709 14.645 15.4279Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5586 16.745C16.5586 16.516 17.0451 17.0884 17.6461 16.1726C18.3043 15.1996 17.9895 15.171 18.8194 14.2839C19.2486 13.826 18.9052 13.1106 19.3345 13.7688C20.3361 15.3427 19.1055 16.2299 18.0753 17.1742C17.3599 17.8324 16.5586 16.745 16.5586 16.745Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.3635 17.7743C18.4207 17.6312 19.7657 16.8299 19.9661 16L20.0805 16.9444L19.1362 18.0604C18.9931 18.0891 18.249 18.0604 18.3635 17.7743Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.2231 18.347C20.4536 16.8302 20.3391 16.6299 20.4536 17.2309C20.6539 18.347 19.1945 18.7476 19.2231 18.347Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.60377 11.049C8.66101 10.9346 7.57355 10.0761 7.54493 11.1921L7.71664 11.5355C7.68802 12.1365 7.71664 12.7661 7.77387 13.4529L7.6594 13.4815C5.71342 14.2542 6.11406 13.6246 6.37162 14.2828C6.40024 14.3687 5.88513 18.4323 6.19992 18.7471C6.45747 18.9761 6.11406 15.0269 6.97259 14.3973C7.11567 14.2828 7.45908 14.1111 7.83111 13.9394C8.23175 17.5166 9.43368 21.3227 9.17612 20.0063C9.03303 19.2622 8.43207 16.1143 8.17451 13.7963C8.28898 13.7391 8.40345 13.6818 8.51792 13.6246C8.66101 14.6548 8.88995 15.7709 8.9758 16.3719C9.37644 19.1764 9.31921 21.7519 11.351 23.6693C14.1555 26.3021 16.4449 16.8298 11.9234 14.0825C10.8073 13.4243 10.607 14.197 9.634 12.9664C9.94879 12.7089 10.0633 12.4513 9.83432 12.1937C9.74847 12.1079 9.57676 12.251 9.29059 12.4513C8.94718 11.7931 9.31921 11.5642 9.1475 11.4211C9.06165 11.3066 8.74686 11.3066 8.54654 11.4783C8.34622 11.6786 8.34622 12.3082 8.43207 13.0809C8.3176 13.1381 8.23175 13.1954 8.11728 13.2812C8.00281 12.251 7.97419 11.4497 8.11728 11.2208C8.3176 10.9346 8.54654 11.1349 8.60377 11.049ZM12.4671 23.1542C13.8121 22.868 13.9266 18.0317 12.9822 16.9442L13.0681 16.9156C14.0411 17.7741 14.2986 22.8108 12.4671 23.1542Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.28906 10.1912C7.3463 10.3915 7.91864 10.3057 8.26205 10.4201C8.80578 10.6204 9.20642 10.9925 9.46398 11.1928C9.63568 11.2786 9.72154 11.3073 9.80739 11.2214C10.2653 10.9639 10.4656 10.7063 10.6373 10.4487C10.7804 10.1912 10.8948 10.1912 11.1238 9.61884C11.3241 9.07511 11.782 8.67447 11.8965 8.33106C12.0682 7.81595 10.0649 6.98605 9.0061 7.15775C8.77716 7.18637 8.31929 7.32945 8.26205 7.50116C7.97588 8.30244 7.28906 10.1912 7.28906 10.1912Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.001 6.95715C5.5145 6.44204 7.05984 5.98416 7.05984 6.15587C7.05984 6.67098 7.05984 7.18609 6.40164 7.10024C6.28717 7.10024 6.14408 7.10024 6.001 6.95715Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.16966 8.78896C4.45422 8.96067 5.45583 10.1626 5.5703 10.0195C5.85647 9.56163 6.19988 9.16099 5.5703 8.87481C5.48445 8.8462 5.36998 8.76035 5.16966 8.78896Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.68418 5.66975C5.68418 5.69837 6.28514 5.81284 6.11344 5.55529C4.68257 3.49484 5.42662 2.92249 3.88128 4.86847C3.65234 5.15464 3.59511 5.12603 3.70958 5.12603C3.79543 5.15464 3.9099 5.18326 4.02437 5.21188C4.02437 5.21188 4.53948 4.43921 4.76842 4.35336C4.79704 4.35336 5.59832 5.55529 5.68418 5.66975Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.97687 7.01461C7.80356 7.12908 8.71931 4.32458 8.66208 3.58053C8.60484 2.57892 4.88459 0.575704 5.25661 0.518469C5.71449 0.461235 9.0341 3.17988 9.11996 3.2085C9.83539 3.3802 9.5206 2.72201 9.06272 4.63937C8.83378 5.64097 9.26304 6.98599 8.97687 7.01461Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.51744 10.5343C6.57307 9.9047 5.8004 12.7664 5.34252 13.3388C4.71294 14.1973 0.448956 14.1687 0.706512 14.369C1.07854 14.6552 5.42837 13.8825 5.51423 13.9111C6.22966 14.0828 5.57146 14.5121 6.28689 12.6233C6.6303 11.679 7.74638 10.706 7.51744 10.5343Z' fill='%23414340'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.97833 6.84313C9.89248 6.92899 8.69055 6.21355 9.83524 5.84153L10.2359 5.92738C10.8655 5.72706 11.5237 5.58397 12.2391 5.44088V5.32641C12.4967 3.38043 11.9529 3.92416 12.697 3.95278C12.7828 3.95278 16.8751 2.35021 17.2758 2.55053C17.6192 2.72224 13.4124 3.4949 12.9832 4.43928C12.8973 4.6396 12.8401 4.95439 12.7828 5.32641C16.5889 4.66822 20.8815 4.66822 19.4507 4.8113C18.6208 4.89715 15.2153 5.26918 12.697 5.69844C12.697 5.81291 12.6684 5.92738 12.6397 6.04185C13.7272 5.87014 14.9577 5.75567 15.6159 5.66982C18.6208 5.24056 21.3108 4.43928 23.8577 5.72706C27.3777 7.4441 18.2201 12.1373 14.0706 8.9322C13.069 8.13091 13.8131 7.73027 12.2677 7.21516C12.096 7.55857 11.8385 7.75889 11.5237 7.6158C11.4092 7.58718 11.495 7.35825 11.6381 7.07207C10.8655 6.9576 10.751 7.32963 10.5221 7.24378C10.379 7.18654 10.2931 6.90037 10.4362 6.67143C10.5507 6.44249 11.2089 6.27079 12.0388 6.1277C12.0674 6.01323 12.1246 5.89876 12.1532 5.78429C11.0658 5.98461 10.2073 6.18493 10.0356 6.38526C9.77801 6.61419 10.0642 6.75728 9.97833 6.84313ZM23.6574 6.84313C23.7147 8.13091 18.7352 9.5904 17.3616 9.07529L17.333 9.13252C18.4777 9.7621 23.8005 8.56017 23.6574 6.84313Z' fill='%23414340'/%3E%3C/svg%3E%0A")
      15 15,
    pointer;
}

/* MARKDOWN */
/* MARKDOWN */
/* MARKDOWN */
.gds-markdown > p {
  @apply my-5 font-body;
}

.gds-markdown > p > a {
  @apply underline text-blue-900;
}
.gds-markdown > ol > li > a {
  @apply underline text-blue-900;
}
.gds-markdown > ul > li > a {
  @apply underline text-blue-900;
}
.gds-markdown > h1 {
  @apply mt-6 text-4xl md:text-6xl font-heading;
}
.gds-markdown > h2 {
  letter-spacing: 0.05em;
  line-height: 34px;
  @apply mt-6 text-2xl font-heading;
}
.gds-body-medium {
  letter-spacing: 0.05em;
  line-height: 34px;
  @apply text-lg md:text-2xl;
}
.gds-markdown > h3 {
  letter-spacing: 0.05em;
  line-height: 34px;
  @apply mt-6 text-xl font-heading;
}
.gds-markdown > h4 {
  letter-spacing: 0.05em;
  line-height: 34px;
  @apply mt-6 text-xl font-heading;
}
.gds-markdown > h5 {
  letter-spacing: 0.05em;
  line-height: 34px;
  @apply mt-6 text-xl font-heading;
}

.gds-markdown > blockquote {
  @apply my-6  py-2 px-5 text-xl;
}

/* del {
  text-decoration: none;
  @apply gds-copy break-all;
} */

/* em {
  font-style: normal;
  @apply  px-1;
} */
hr {
  @apply border-gray-200;
}

/* .gds-markdown > ul {
  @apply my-4;
} */
/* .gds-markdown > ol {

  @apply my-4;
} */
.gds-markdown > ol > li {
  counter-increment: my-awesome-counter;
  /* @apply; */
}
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  @apply relative;
}
ol > li {
  @apply mx-4 pl-6 relative;
}
ol > li::before {
  content: counter(my-awesome-counter);
  position: absolute;
  --size: 16px;
  top: 6px;
  left: calc(-1 * var(--size));
  line-height: 16px;
  width: var(--size);
  height: var(--size);

  /* transform: rotate(-4deg); */
  text-align: center;

  @apply ml-4 underline  text-black2-900  text-lg;
}

.gds-markdown > ul > li {
  background: url("/ulli-green.svg") no-repeat left top;

  list-style: none;
  margin: 0;
  vertical-align: middle;
  @apply mx-4 pl-6;
}
.md-orange > ul > li {
  background: url("/ulli-orange.svg") no-repeat left top;

  list-style: none;
  margin: 0;
  vertical-align: middle;
  @apply mx-4 pl-6;
}
.md-blue > ul > li {
  background: url("/ulli-blue.svg") no-repeat left top;

  list-style: none;
  margin: 0;
  vertical-align: middle;
  @apply mx-4 pl-6;
}
.md-green > ul > li {
  background: url("/ulli-green.svg") no-repeat left top;

  list-style: none;
  margin: 0;
  vertical-align: middle;
  @apply mx-4 pl-6;
}
.md-red > ul > li {
  background: url("/ulli-red.svg") no-repeat left top;

  list-style: none;
  margin: 0;
  vertical-align: middle;
  @apply mx-4 pl-6;
}

.mastery-tab {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  @apply mx-1 p-4 bg-blue-200;
}

.mastery-tab:hover {
  @apply bg-blue-300;
}

.mastery-tab-active {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  @apply mx-1 p-4 bg-blue-400;
}

.mastery-content {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  @apply mx-1 p-5 border border-grey-500;
}

h2.module-heading {
  @apply text-2xl my-2 mt-5 font-bold;
}

/* Animations */
/* Animations */
/* Animations */
.stagger-li {
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.activate-tab {
  animation-name: divAppear;
  animation-duration: 350ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

/* EAST */

.stease {
  animation-name: steaseIn;

  /* transition-timing-function: cubic-bezier(0.6, 0.01, -0.05, 0.9); */
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

@keyframes steaseIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes divAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.origin-center-2 {
  transform-origin: 0% 50%;
}
